@media (prefers-color-scheme: dark) {
    :root {
        --accent: #845ec8 !important;
        --color-bg: linear-gradient(0deg, #845ec8 20%, #24292e) !important;
        --color-primary: white;
        --color-secondary: #ccc;
      }
      .header {
        background-color: #cacaca !important;
      }
      /* #site__name, #logo:before {
        color: #f9f87f !important;
    } */
}

/* color-scheme-agnostic overrides */
address.properties > a {
    color: #d65ded;
}

#open > a {
    color: #ff6f9f
}

body > header > section > div > div:nth-child(2) > nav {
    display:none;
}

.header, .header-item>a, .menu__item, #site__name {
    width: auto !important;
}

.feed__content:before {
    content: '■';
    color: var(--accent) !important;
}